{{ partial "header" . }} 

<main>
<section>
<h3>Performances, Gigs, Concerts, Talks</h3>
<ul>
  {{ range sort .Site.Data.shows ".finissage" "desc" }}
    {{ if eq .what "perf"}}
		<li>
  			<p>
  				<em>{{ if .title }}{{ .title }},{{ end }} </em>{{if .venue}}{{ .venue }}{{ end }}<br> 
  				{{ if .vernissage}}{{ dateFormat "2 January 2006" .vernissage }}{{ end }} 
	  			{{ if .external}}<a href="{{ .external }}"> → </a>{{ end }}
  			</p>

      {{ if .youtube }}
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{.youtube}}?html5=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      {{ end }}

      {{ if .vimeo }}

        <div style="padding:56.25% 0 10% 0;position:relative;"><iframe src="https://player.vimeo.com/video/{{.vimeo}}?portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      {{ end }}

	  	</li>

    {{ end }}
  {{ end }}
</ul>
</section>
</main>
{{ partial "footer" . }}
