{{ partial "header" . }} 
{{ partial "nav" . }} 

<main>
	<section>{{ partial "education-research" .}}</section>
	<section>{{ partial "shows" .}}</section>
	<section>{{ partial "bibliography" .}}</section>
	<section>{{ partial "discography" .}}</section>
	<section>{{ partial "awards" .}}</section>
	<section>{{ partial "collections" .}}</section>

</main>

{{ partial "footer" . }}
