{{ partial "header" . }} 

<main>
	<h1>Shows by Brud</h1>
	<section>{{ .Content }}</section>
	<section>{{ partial "shows-gallery" .}}</section>
	<section>{{ partial "shows" .}}</section>
</main>

{{ partial "footer" .}}