{{ partial "header" . }} 

<main>
	{{ $show := "" }}
	{{ with .Params.dataFile }}
  		{{ $show := index $.Site.Data.shows . }}
  		<h1>{{ $show.title }}</h1>
  		<ul class="show">
    		<li>{{ $show.venue }} {{ if $show.external}}<a href="{{ $show.external }}"> → </a>{{ end }}</li>
    		{{ if $show.curator }}<li>Curated by {{ $show.curator }}</li>{{ end }}
    		<li class="dates">{{ dateFormat "2 January 2006" $show.vernissage }}–{{ dateFormat "2 January 2006" $show.finissage }}</li>
  		</ul>
	{{ end }}

	<div class="gridoo">{{ .Content }}</div>

</main>

{{ partial "footer" .}}