{{ partial "header" . }} 
{{ partial "nav" . }} 

<main>
	<section>{{ .Content }}</section>
	<section>{{ partial "docs-gallery" .}}</section>
	<section>{{ partial "books" .}}</section>
	<section>{{ partial "articles" .}}</section>
	<section>{{ partial "zines" .}}</section>
</main>

{{ partial "footer" .}}
