#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 12.5vh);
  font-size: 1.6em;
}
#calendar li {
  padding: 0.5em;
  color: #009b37;
}
#calendar li:nth-child(odd) {
  background: rgba(255,0,255,0.3);
}
#calendar li:nth-child(even) {
  background: rgba(255,255,0,0.3);
}
#calendar li:nth-child(7n),
#calendar li:nth-child(7n+1) {
  color: #ff9b00;
}
