@import url("https://use.typekit.net/xup7pqr.css");
html {
  padding: 0;
  font-family: acumin-pro, sans-serif;
  font-size: 18px;
  margin: 2em;
  line-height: 1.4;
  font-weight: 300;
}
body {
  background: rgba(255,255,255,0.4);
  color: #6e3;
}
main {
  margin: 0 auto;
  max-width: 30em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6e3;
  font-family: jaf-herb, serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px #000;
}
h3 {
  font-size: 2em;
}
a,
a:visited {
  text-decoration: none;
  color: #ff0;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul > li img {
  padding: 0 0 2em 0;
}
nav {
  display: grid;
  grid-template-rows: repeat(6, 8vw);
  text-transform: uppercase;
  justify-items: start;
}
nav a {
  animation: cycle 48s infinite;
}
img {
  max-width: 100%;
}
section {
  margin: 0 0 4rem 0;
}
footer {
  padding: 2em 0;
  margin: 0 auto;
  max-width: 30em;
  text-align: center;
}
input,
button {
  font-size: 1.3em;
  font-family: 'Old Standard TT', serif;
  font-family: acumin-pro, sans-serif;
  padding: 0.3em;
  font-family: jaf-herb, serif;
  font-weight: 400;
  font-style: normal;
}
button {
  background: #fff;
  color: #ff0;
  animation: cycle 48s infinite;
  font-family: jaf-herb, serif;
  font-weight: 400;
  font-style: normal;
}
form {
  margin: 0;
  padding: 0;
}
/* Custom Classes */
#logo {
  width: 200px;
  margin: 0 auto;
}
.ape {
  position: fixed;
  max-width: 13vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
marquee {
  position: fixed;
  width: fit-content;
}
marquee img {
  max-width: 40vw;
  max-height: 40vh;
  display: block;
}
#bgVideo {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1000;
}
.blurb p {
  margin: 0;
  padding: 0;
  animation: cycle 24s infinite;
  font-family: jaf-herb, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;
  line-height: 1.05;
  text-shadow: 1px 1px #fff;
}
.gallery {
  display: grid;
  grid-gap: 4em;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  margin-top: 2em;
}
.gallery a {
  color: #6e3;
}
.gallery img {
  max-height: 13em;
  max-width: 20em;
}
.gridoo ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
}
.clock {
  position: absolute;
  right: 15vw;
  bottom: 30vh;
}
.sec,
.min,
.hour {
  position: fixed;
  height: 26vh;
  border: 1px solid;
  border-radius: 0px;
  border-color: #6f0;
}
@-moz-keyframes cycle {
  0% {
    color: #000;
    border-color: #000;
  }
  25% {
    color: rgba(255,0,255,0.7);
    border-color: rgba(255,0,255,0.7);
  }
  50% {
    color: rgba(0,255,255,0.7);
    border-color: rgba(0,255,255,0.7);
  }
  75% {
    color: rgba(255,0,255,0.7);
    border-color: rgba(255,0,255,0.7);
  }
  100% {
    color: #000;
    border-color: #000;
  }
}
@-webkit-keyframes cycle {
  0% {
    color: #000;
    border-color: #000;
  }
  25% {
    color: rgba(255,0,255,0.7);
    border-color: rgba(255,0,255,0.7);
  }
  50% {
    color: rgba(0,255,255,0.7);
    border-color: rgba(0,255,255,0.7);
  }
  75% {
    color: rgba(255,0,255,0.7);
    border-color: rgba(255,0,255,0.7);
  }
  100% {
    color: #000;
    border-color: #000;
  }
}
@-o-keyframes cycle {
  0% {
    color: #000;
    border-color: #000;
  }
  25% {
    color: rgba(255,0,255,0.7);
    border-color: rgba(255,0,255,0.7);
  }
  50% {
    color: rgba(0,255,255,0.7);
    border-color: rgba(0,255,255,0.7);
  }
  75% {
    color: rgba(255,0,255,0.7);
    border-color: rgba(255,0,255,0.7);
  }
  100% {
    color: #000;
    border-color: #000;
  }
}
@keyframes cycle {
  0% {
    color: #000;
    border-color: #000;
  }
  25% {
    color: rgba(255,0,255,0.7);
    border-color: rgba(255,0,255,0.7);
  }
  50% {
    color: rgba(0,255,255,0.7);
    border-color: rgba(0,255,255,0.7);
  }
  75% {
    color: rgba(255,0,255,0.7);
    border-color: rgba(255,0,255,0.7);
  }
  100% {
    color: #000;
    border-color: #000;
  }
}
