@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT");
html {
  font-size: 18px;
  margin: 2em auto;
  line-height: 1.4;
}
body {
  background: #fff;
  color: #222;
  margin: auto;
  max-width: 30em;
}
a,
a:visited {
  text-decoration: none;
  color: #f00;
}
ul {
  list-style-type: none;
  padding: 0;
}
nav img {
  max-width: 4em;
}
img {
  max-width: 100%;
}
footer ul {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
}
