@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT')

maxWidth = 30em
fontSize = 18px

linkColor = #f00
backgroundColor = rgba(255, 255, 255, 0.5)
backgroundColor = #fff
textColor = #222
// textColor = #eee

sectionMargin = 6rem



html
  font-size fontSize
  margin 2em auto
  line-height 1.4


body
  background backgroundColor
  color textColor
  margin auto
  max-width maxWidth



  
a, a:visited
  text-decoration none
  color linkColor

ul
  list-style-type none
  padding 0


nav img
  max-width 4em

img
  max-width 100%

footer ul
  display grid
  grid-template-rows 1fr 1fr 1fr
  grid-auto-flow column


