<section>
<h4>Articles and Papers</h4>
<ul>
	{{ range sort .Site.Data.docs ".year" "desc" }}
	{{ if eq .what "article" }}
	<li>
  
  		<p>
  			{{ .author }}. <em>{{ .title }}</em>. {{ .journal }}, {{ .venue }}, {{ .year }}. {{ .medium }}.
  			{{ if .external}}<a href="{{ .external }}"> → </a>{{ end }}
  		</p>
  	</li>
  	{{ end }}
	{{ end }}
</ul>
</section>
