<section>
<h3>Awards and Grants</h3>
<ul>
	{{ range sort .Site.Data.docs ".year" "desc" }}
	{{ if eq .what "award" }}

	<li>
   		<p>
  			{{ .title }}, {{ .year }}
  			{{ if .external}}<a href="{{ .external }}"> → </a>{{ end }}
  		</p>
  	</li>
  	{{ end }}
	{{ end }}
</ul>
</section>
