<section>
<h4>Books</h4>
<ul>
	{{ range sort .Site.Data.docs ".year" "desc" }}
	{{ if eq .what "book" }}
	<li>
    		<p>
  			<em>{{ .title }}</em>, {{ .author }}. {{ .city }}: {{ .publisher }}, {{ .year }}. {{ .medium }}.
  			{{ if .external}}<a href="{{ .external }}"> → </a>{{ end }}
  		</p>
  	</li>
  	{{ end }}
	{{ end }}
</ul>
</section>
