<section>
<h3>Collections</h3>
<ul>
	{{ range sort .Site.Data.docs ".title" "desc" }}
	{{ if eq .what "collection" }}

	<li>
   		<p>
  			{{ .title }}
  			{{ if .external}}<a href="{{ .external }}"> → </a>{{ end }}
  		</p>
  	</li>
  	{{ end }}
	{{ end }}
</ul>
</section>
