<script>

	var countDownDate = new Date("Jan 19, 2038 03:14:07").getTime();


	var x = setInterval(function() {


		var now = new Date().getTime();
		var distance = countDownDate - now;
		var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor(distance / 1000);


		document.getElementById("countdown").innerHTML = seconds;


		if (distance < 0) {
			clearInterval(x);
			document.getElementById("countdown").innerHTML = "Brud Bids You Farewell";
		}
	}, 1000);
</script>

<div class="logo">
	<a href="/"><p id="countdown"></p></a>
</div>
