<section>
<h3>Curatorial Work</h3>
<ul>
  {{ range sort .Site.Data.shows ".vernissage" "desc" }}
    {{ if eq .what "curatorial"}}

      <li>
  
        <p>
          <em>{{ .title }}</em>, {{ .venue }}<br> 
          {{ if .vernissage}}{{ dateFormat "2 January 2006" .vernissage }}{{ end }}{{ if .finissage}}–{{ dateFormat "2 January 2006" .finissage }}{{ end }} 
          {{ if .external}}<a href="{{ .external }}"> → </a>{{ end }}
        </p>
      </li>


    {{ end }}
  {{ end }}

	
</ul>
</section>
