<section>
  <h3>Discography</h3>
  <ul>
    {{ range sort .Site.Data.music ".year" "desc" }}

    <li>
      <p>
        <em>{{ .title }}</em>, {{ .artist }}, {{ .year }} {{ if .role }} ({{ .role }}) {{ end }}
        {{ if .external}}<a href="{{ .external }}"> → </a>{{ end }}
      </p>
    </li>
    {{ end }}

  </ul>
</section>
