<ul class="gallery">
	{{ range (sort .Site.Data.docs "year" "desc") }}
	{{ if .hero }}
	<li>
  		<ul>
  			<li><img src="{{ .hero }}"></li>
  			<li><b>{{ .title }}</b></li>
  			<!-- {{ if .author }}<li>{{ .author }}</b></li>{{ end }} -->
  			{{ if .publisher }}{{ if .city }}<li>{{ .publisher }}, {{ .city }}</b></li>{{ end }}{{ end }}
    		<li>{{ .year }}</li>
  		</ul>
	</li>
	{{ end }}
	{{ end }}
</ul>
