<section>
	<h3>Education</h3>
	<ul>
		{{ range sort .Site.Data.bios.education "start" "desc" }}
		<li>	
			<p>{{ .place }}<br>
				{{ if .start}}{{ .start }}{{ end }}{{ if .end}}–{{ .end }}{{ end }} 
			</p>
		</li>
		{{ end }}
	</ul>
</section>
