<ul class="gallery">
	{{ range (sort .Site.Data.films "year" "desc") }}
	{{ if .hero }}
	<li>
    <a href="{{ .internal }}">
  		<ul>
  			<li><img src="{{ .hero }}"></li>
  			<li><b>{{ .title }}</b></li>
    		<li>{{ .year }}</li>
  		</ul>
    </a>
	</li>
	{{ end }}
	{{ end }}
</ul>
