<footer>
	<a href="/">
		<img src="/images/logo.gif" id="logo" />
</a>
	<p>© Brud MDCCXVII–MMCVI</p>
<p><a href="mailto:brudbrudbrud@gmail.com">brudbrudbrud@gmail.com</a></p>
<p><a href="http://galerievangelder.com/">Galerie van Gelder</a> <br>
Planciusstraat 9 A <br>
1013 MD Amsterdam <br>
The Netherlands <br>
</p>
<p><a href="https://www.youtube.com/channel/UC-ShgrPD7Lz441DvFa1UA7g">Youtube</a> / <a href="http://3uio.bandcamp.com/">Bandcamp</a> / <a href="https://soundcloud.com/u33o/">Soundcloud</a> / <a href="https://itunes.apple.com/us/app/juju-by-brud/id1456524517?ls=1&mt=8">App Store</a></p>

</footer>

{{ partial "scripts" . }}


</body>
</html>