<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ .Site.Params.description }}">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{{ "css/oovoo.css" | relURL}}">
        <link rel="stylesheet" href="{{ "css/calendar.css" | relURL}}">

        <title>You We You You, by Brud</title>
    </head>
    <body>
    	<div id="app"></div>
<!--     	<ul id="calendar">
			<li><h1>أ</h1></li>
			<li><h1>ب</h1></li>
			<li><h1>ج</h1></li>
			<li><h1>د</h1></li>
			<li><h1>ه</h1></li>
			<li><h1>و</h1></li>
			<li><h1>ز</h1></li>
			
			<li><h1>ح</h1></li>
			<li><h1>ط</h1></li>
			<li><h1>ي</h1></li>
			<li><h1>ك</h1></li>
			<li><h1>ل</h1></li>
			<li><h1>م</h1></li>
			<li><h1>ن</h1></li>

			<li><h1>ص</h1></li>
			<li><h1>ع</h1></li>
			<li><h1>ف</h1></li>
			<li><h1>ض</h1></li>
			<li><h1>ق</h1></li>
			<li><h1>ر</h1></li>
			<li><h1>س</h1></li>

			<li><h1>ت</h1></li>
			<li><h1>ث</h1></li>
			<li><h1>خ</h1></li>
			<li><h1>ذ</h1></li>
			<li><h1>ظ</h1></li>
			<li><h1>غ</h1></li>
			<li><h1>ش</h1></li>

		</ul>
 -->    	
    	<script src="{{ "elm/main.js" | relURL}}"></script>
    	
    	<script>
      		var app = Elm.Main.init({
  				node: document.getElementById('app')
			});
    	</script>
