<nav>
	<a href="/brud">Brud</a>
	<a href="/work">Work</a>
	<a href="/info">Info</a>
	<a href="/faqs">FAQs</a>
	<a href="/ummo">Ummo</a>
	<a href="/gruz">Gruz</a>
	<a href="/ooze">Juju</a>
	<a href="/buio">Buio</a>
	<a href="/ooze">Ooze</a>
</nav>
