<h2>Upcoming</h2>
<ul>
	{{ range first 12 (sort .Site.Data.shows ".vernissage" "desc") }}
	<li>
		<p>
  			<em>{{ .title }}</em>, {{ .venue }}<br> 
  			{{ if .vernissage}}{{ dateFormat "2 January 2006" .vernissage }}{{ end }}{{ if .finissage}}{{ if ne .vernissage .finissage }}–{{ dateFormat "2 January 2006" .finissage }}{{ end }}{{ end }} 
  			{{ if .external}}<a href="{{ .external }}"> → </a>{{ end }}
  		</p>
  	</li>
	{{ end }}
</ul>
