
<form action="https://tinyletter.com/Brud" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/Brud', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true" class="tinyletter">
	<p>
		<input id="tlemail" type="text" value="Enter" name="email" class="email">
		<input type="hidden" value="1" name="embed">
		<button value="Brud" class="subscribe">Brud</button>
	</p>
</form>
