<section>
<h3>Performances, Gigs, Concerts, Talks</h3>
<ul>
  {{ range sort .Site.Data.shows ".finissage" "desc" }}
    {{ if eq .what "perf"}}

		<li>
  
  			<p>
  				<em>{{ if .title }}{{ .title }},{{ end }} </em>{{if .venue}}{{ .venue }}{{ end }}<br> 
  				{{ if .vernissage}}{{ dateFormat "2 January 2006" .vernissage }}{{ end }} 
	  			{{ if .external}}<a href="{{ .external }}"> → </a>{{ end }}
  			</p>
	  	</li>


    {{ end }}
  {{ end }}
</ul>
</section>
