<section>
<h3>Residencies and Research Experience</h3>
<ul>
	{{ range sort .Site.Data.bios.residencies ".start" "desc" }}
	<li>	
	  	<p>{{ .place }}<br>
  			{{ if .start}}{{ .start }}{{ end }}{{ if .end}}–{{ .end }}{{ end }} 
		</p>
	</li>
{{ end }}
</ul>
</section>