<ul class="gallery">
	{{ range (sort .Site.Data.shows "vernissage" "desc") }}
	{{ if .hero }}
	{{ if (or (eq .what "group") (eq .what "solo")) }} 
	<li>
		<a href="{{ .internal }}">
  		<ul>
  			<li><img src="{{ .hero }}"></li>
  			<li><b>{{ .title }}</b></li>
    		<li>{{ .venue }}</li>
    		<li class="dates">{{ dateFormat "2006" .vernissage }}</li>
  		</ul>
  	</a>
	</li>
	{{ end }}
	{{ end }}
	{{ end }}
</ul>
