<ul>
	{{ range sort .Site.Data.shows ".vernissage" "desc" }}
  	{{ if (ge .finissage (now.Format "2006-01-02")) }}

	<li>
		<p>
  			<em>{{ .title }}</em>, {{ .venue }}<br> 
  			{{ if .vernissage}}{{ dateFormat "2 January 2006" .vernissage }}{{ end }}{{ if .finissage}}{{ if ne .vernissage .finissage }}–{{ dateFormat "2 January 2006" .finissage }}{{ end }}{{ end }} 
  			{{ if .external}}<a href="{{ .external }}"> → </a>{{ end }}
  		</p>
  	</li>
  	{{ end }}
	{{ end }}
</ul>
