{{ partial "header" . }} 

<!-- {{ partial "nav" . }}  -->
	<img 
	id="bgVideo"
	data-src="https://res.cloudinary.com/brud/image/upload/w_auto,dpr_auto,c_scale,q_auto,f_auto/v1556643522/apes/IMG_2931.jpg" 
	alt=" "
	class="cld-responsive"
	/>
	<a href="/">
	<div class="ape">
			<img 
	data-src="https://res.cloudinary.com/brud/image/upload/w_auto,dpr_auto,c_scale,q_auto,f_auto/v1557147153/ape.png" 
	alt=" "
	class="cld-responsive"
	/>

</div>
</a>
<ul class="clock">
        <li class="sec"></li>
        <li class="hour"></li>
        <li class="min"></li>
      </ul>

<main>

	<section class="blurb">
		{{ partial "blurb" .}}
	</section>
	<section>
		{{ partial "newsletter" . }}
	</section>
	<section>
		<a href="http://cac.lt">
						<img 
	data-src="https://res.cloudinary.com/brud/image/upload/w_auto,dpr_auto,c_scale,q_auto,f_auto/v1557147163/BRUD-ASOA.gif" 
	alt=" "
	class="cld-responsive"
	/>

		</a>
	</section>

	<section>
		<h3>Now Showing</h3>
		{{ partial "upcoming" .}}
	</section>
	<section>
		<h2>Previously, by Brud</h2>
		{{ partial "shows-gallery" .}}
	</section>
	<section>{{ partial "shows" .}}</section>

<!-- 	<section>
		<h2>Timeline</h2>
		{{ partial "timeline" .}}
	</section>
 --><!-- 
	<section>{{ partial "education-research" .}}</section>
	<section>{{ partial "shows" .}}</section>
	<section>{{ partial "bibliography" .}}</section>
	<section>{{ partial "discography" .}}</section>
	<section>{{ partial "awards" .}}</section>
	<section>{{ partial "collections" .}}</section>

 	<section>
		<h2>Recently by Brud</h2>
		{{ partial "recent" .}}
	</section>
	<section>
		<h2>Selected Exhibitions</h2>
		{{ partial "shows-gallery" .}}
	</section>
	<section>
		<h2>Selected Performances</h2>
		{{ partial "performances-gallery" .}}
	</section>
	<section>
		<h2>Selected Films</h2>
		{{ partial "films-gallery" .}}
	</section>
	<section>
		<h2>Selected Publications</h2>
		{{ partial "docs-gallery" .}}
	</section>
 --></main>

{{ partial "footer" . }}
