{{ partial "header" . }} 
{{ partial "nav" . }} 

<main>
	{{ $film := "" }}
	{{ with .Params.dataFile }}
  		{{ $film := index $.Site.Data.films . }}
  		<h1>Films by Brud</h1>
  		<ul>
        <li>{{ $film.title }}</li>
    		<li>{{ $film.kind }},  {{ $film.length }}</li>
    		<li>{{ $film.year}}</li>
  		</ul>
	{{ end }}
  <div class="gridoo">{{ .Content }}</div>


</main>

{{ partial "footer" .}}